/dist/
/v2raya
./v2raya
/v2ray-configs
./v2ray-configs
/.build/

/gui/build/bin/
/gui/frontend/dist/*
!/gui/frontend/dist/.gitkeep
/gui/frontend/node_modules/
/gui/frontend/wailsjs/
/gui/frontend/package.json.md5

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
